.categories-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}
.categories-container .menu-btn {
  background-color: black;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.categories-container .menu-btn:hover {
  background-color: black;
  color: #2f6a34;
}
.categories-container .items {
  color: #fff;
  margin: 13px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.categories-container .menu-expand {
  background-color: lightskyblue !important;
}
