.carousel-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container .mui-carousel {
  width: 100%;
}
.carousel-container .img-food {
  height: 350px;
  width: 100%;
}
.carousel-container .papermui {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: transparent;
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  width: 70%;
}
.carousel-container .papermui h2 {
  text-align: center;
  color: #2f6a34;
  background-color: #dfeeeb;
}
.carousel-container .papermui .CheckButton {
  background-color: #dfeeeb;
  color: #2f6a34;
  font-weight: bold;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.carousel-container .polygon {
  display: flex;
  align-items: center;
}
.carousel-container .polygon .clipped {
  width: 30%;
  align-items: center;
}
.carousel-container .polygon .clipped p{
  margin-top: 20px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  color: #2f6a34;
  
}
