.review-container {
  background-image: url("../../assets/mandala.jpg");
  background-size: 100%;
  height: 70vh;
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.container {
  width: 90%;
  margin: auto;
}

.cards-container {
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  color: #333;
  background: #eee;
   padding: 1rem;
  /* box-shadow: 0 0 1rem #000 inset;  */
  overflow-x: auto;
  /* position: relative; */

  &::-webkit-scrollbar {
    display: none;
  }
  h1{
    color: #000;
  }
}

.card {
  /* flex: 1 0 250px; */
  /* box-shadow: 0 1px 1rem -4px #000;
  background: #fff; */
  margin: 1rem;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;

  

  h2 {
    text-align: center;
    margin: 10px;
    color: #000;
  }
  p {
    margin: 15px;
    font-style: italic;
  }
  h3 {
    margin: 10px;
    text-align: center;
    color: #000;
  }
  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
  }
}

.card-content {
  padding: 1rem;
}
